{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class = 'chat'>
        {% include "messages.html" with message=m avatars=avatars users_avatars=users_avatars%}
    </div>
    <div class='attached_file'>
        <span class='attached_file_span'>Загружен файл</span>
    </div>
    <form class = 'input' enctype='multipart/form-data' action="{% url "core:message_create" %}" id="send_message" method="post">
        {% csrf_token %}
        <input type='file' name='attached_file' id='button_attach' class='input__attach'/>
        <div class = 'input__attach'></div>
        <input type="text" id="message_input" value="" name="text" placeholder="Введите сообщение" autocomplete="off"/>
        <button type="submit" class = 'input__send'></button>
    </form>
{% endblock %}