<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style>
        .input_form {
            padding: 100px;
        }
    </style>
</head>
<body>
    <div class="container" style="width: 500px; margin-top: 10%">
        <h2 class="form-signin-heading">Авторизация:</h2>
    <form action="{{ form_action }}" method="post" class="form-signin">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
        <label for="{{ field.id_from_label }}" class="sr-only">
            {{ field.label }}
        </label>
        {{ field.as_widget }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
    </form>
        <form method="get" action="{% url "core:register" %}">
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top:20px;">Регистрация</button>
        </form>
    </div>
</body>
</html>